html {
  font-family: var(--lumo-font-family);
  font-size: var(--lumo-font-size, var(--lumo-font-size-m));
  line-height: var(--lumo-line-height-m);
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  color: var(--lumo-body-text-color);
  background-color: var(--lumo-base-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--lumo-space-m);
}
